*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
}

label{
  height: 2em;
  padding: 1em;
  font-size: 24px;
  margin-bottom:      1em;
  color:white
}
span{
  font-size: 24px;
  margin-bottom: 1em;
  color:white
}

button{
  font-size: 16px;
  padding: 1em;
  background-color: azure;
  color: black;
  border-radius: .5em;
  transition: all .5s ease;
}

button:hover{
  color: rgb(250, 250, 250);
  background-color: rgb(250, 13, 13);
  transform: scale(1.05);
}